@font-face {
    font-family: 'inknut_antiquaregular';
    src: url('InknutAntiqua-Regular-webfont.eot');
    src: url('InknutAntiqua-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('InknutAntiqua-Regular-webfont.woff2') format('woff2'),
         url('InknutAntiqua-Regular-webfont.woff') format('woff'),
         url('InknutAntiqua-Regular-webfont.ttf') format('truetype'),
         url('InknutAntiqua-Regular-webfont.svg#inknut_antiquaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

