@font-face {
    font-family: 'inknut_antiqualight';
    src: url('InknutAntiqua-Light-webfont.eot');
    src: url('InknutAntiqua-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('InknutAntiqua-Light-webfont.woff2') format('woff2'),
         url('InknutAntiqua-Light-webfont.woff') format('woff'),
         url('InknutAntiqua-Light-webfont.ttf') format('truetype'),
         url('InknutAntiqua-Light-webfont.svg#inknut_antiqualight') format('svg');
    font-weight: normal;
    font-style: normal;

}

