@import './base/font';
@import './utils/variables';
@import './components/buttons';
@import './components/icons';
@import './components/credits';
@import './base/base';
@import './pages/Home';
@import './pages/Menu';
@import './pages/Anchoring';
@import './pages/Stop';
@import './pages/Wheel';
@import './pages/Tipp';
@import './pages/Webresources';
@import './pages/Thermometer';