@import './utils/variables';
@import './components/buttons';
@import "./components/icons";
@import './components/credits';
@import './base/font';
@import './base/base';
@import './pages/Home';
@import './pages/Menu';
@import './pages/Anchoring';