// #AddItem{
//     &__Container{
//     position: absolute;
//     padding: 20px;
//     top: 50%;
//     left: 50%; 
//     border-radius: 20px;
//     transform: translate(-50%);
//     background-color: grey;
//     border: 15px solid;
//     border-color: color;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     animation: 2s ease-in-out both tester
//     }
// }
// @keyframes tester{
//     from{
//         transform: translateX(300%)
//     }
//     to{
//         transform: translateX(-50%)
//     }
// }