#Home__credits{
    font-size:20px;
    color: $textColor;
    &:hover{
        color: $textColorHover;
        cursor: pointer;
    }
}
#Credits{
    display: flex;
    color: black;
    background-color: #D1EBFC;
    width: 50%;
    justify-content: center;
    flex-direction: row-reverse;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 20px;
    &__close{
        font-size: 20px;
        height: 20px;
        &:hover{
            color: $buttonTextColorHover;
            cursor: pointer;
        }
    }
}