#Home__credits{
    font-size: 20px;
    color: $textColor;
    &:hover{
        color: $textColorHover;
        cursor: pointer;
    }
}
#Credits{
    display: flex;
    color: black;
    z-index: 2;
    overflow: scroll;
    background-color: #D1EBFC;
    width: 40%;
    justify-content: center;
    flex-direction: row-reverse;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 20px;
    &__close{
        font-size: 20px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 50%;
        &:hover{
            color: $buttonTextColorHover;
            cursor: pointer;
        }
    }
}
@media screen and (max-width: 1300px){
    #Credits{
        width: 80%;
        height: 80%;
    }
    

}