
#containerListOfActions{
    &__contImg{
        border-right: 1px solid $borderListOfActions;
        display: flex;
        align-items: center;
        & img{
            height: 100px !important;
            width: 148px;
             margin: auto
        }
    }
    &__text{
        color: $borderListOfActions; 
        margin: auto 20px;

    }
}
