@font-face {
    font-family: 'inknut_antiquasemibold';
    src: url('InknutAntiqua-SemiBold-webfont.eot');
    src: url('InknutAntiqua-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('InknutAntiqua-SemiBold-webfont.woff2') format('woff2'),
         url('InknutAntiqua-SemiBold-webfont.woff') format('woff'),
         url('InknutAntiqua-SemiBold-webfont.ttf') format('truetype'),
         url('InknutAntiqua-SemiBold-webfont.svg#inknut_antiquasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

