$textColor: #FFFFFF;
$textColorHover: rgb(123, 123, 237);
$backgroundColor: #3E3F3A;

$backgroundColorButton: #FFFFFF;
$buttonTextColor: #000000;
$buttonTextColorRessources: #E31DED;
$buttonTextColorHover: #fd0505;
$buttonShadow: grey;

$backgroundColorIcon: #FFFFFF;
$iconColor: #000000;
$iconColorHover: #fd0505;

$textColorTipp: #000000;
$capitalLetterColorTipp: red;
