@media screen and (min-width:1601px){
    #Anchor{
        &__image{
            height: 100vh;
        }
        &__title {
            padding: 50px
        }
        &__arrowTurnLeftContainer{
            height: 80px;
            width: 80px;
            margin: 20px;
        }
        &__arrowTurnLeftIcon{
                font-size: 50px ;
        }
    }
    .button{
        height: 60px;
        width: 350px;
        margin: 13px;
    }
}
@media screen and (max-width:1600px){
    #Anchor{
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        color: $textColor;
        background-color: $backgroundColor;
        display: grid;
        grid-template: 2fr 4fr 1fr/100%;
        text-align: center;
        align-items: center;
        justify-items: center;
        &__image{
            width: 100vw;
        }
        &__title {
            padding: 10px
        }
        &__arrowTurnLeftContainer{
            width: 80px;
            height: 80px;
            margin: 20px;
        }
        &__arrowTurnLeftIcon{
                font-size: 50px;
        }
    }
    .button{
        height: 60px;
        width: 350px;
        margin: 13px;
    }
    .page{
        
    }
}  
   
