@media screen and (min-width: 769px){
    #Home{
        background-color: $backgroundColor;
        &__imageContainer{
            width: 100vw;
            position: absolute;
            overflow: hidden;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            z-index: 0;
        }
        &__titleAndbuttons{
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__title{
            color: $textColor;
            padding: 120px 0 0 80px;
            margin: 0;
            font-size: 4em; 
            z-index: 1;
            &AndButtons{
                display: flex;
                align-items: end;
            }      
        }
        &__explanations{
            color: $textColor;
            padding: 0 80px;
            z-index: 1;
        }
        &__buttonContainer{
            display: flex;
            justify-content: center;
            padding: 0 0 50px;
            &--button{
                height: 60px;
                width: 160px;
                z-index: 1;
            }
        }
        &__credits{
            position: absolute;
            bottom: 0px;
            padding: 0 50px;
        }
    }
}

@media screen and (max-width: 1450px){
    #Home__title{
        font-size: 3em;
    }
}
@media screen and (max-width: 1300px){
    #Home__imageContainer--image{
        transform: translateX(-25%);
    }
}

@media screen and (max-width: 768px){
    #Home{
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        background-color: $backgroundColor;
        &__imageContainer{
            &--image{
                width: 100vw;
                transform: translateX(0);
            }
        }
        &__titleAndbuttons{
            width: 100vw;
            height: 320px;
            background-color: $backgroundColor;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__title{
            color: $textColor;
            padding: 20px;
            margin: 0;
            font-size: 3em;  
            text-align: center;     
        }
        &__explanations{
            color: $textColor;
            text-align: center;
        }
        &__buttonContainer{
            display: flex;
            justify-content: center;
            padding: 0 0 50px;
             &--button{
                height: 60px;
                width: 160px;
            }
        }
        &__credits{
            position: absolute;
            left: 5px;
            top: 0px;
            padding: 0 50px;
        }
    }
}
@media screen and (max-width: 600px){
    #Home__title{
        font-size: 2em;
    }
}