@media screen and (min-width: 1301px){
    #Home{
        &__wallpaper{
            width: 100vw;
            position: absolute;
            overflow: hidden;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            z-index: -1;
        }
        &__titleAndbuttons{
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__title{
            color: $textColor;
            padding: 120px 0 0 80px;
            margin: 0;
            font-size: 5em; 
            &AndButtons{
                display: flex;
                align-items: end;
            }      
        }
        &__buttons{
            display: flex;
            justify-content: center;
            padding: 0 0 50px;
            &--inscription{
                height: 60px;
                width: 160px;
            }
            &--connexion{
                height: 60px;
                width: 160px;
            }
        }
        &__credits{
            position: absolute;
            bottom: 0px;
            padding: 0 50px;
        }
    }
}
@media screen and (max-width: 1765px){
    #Home__title{
        font-size: 4em;
    }
}
@media screen and (max-width: 1450px){
    #Home__title{
        font-size: 3em;
    }
}

@media screen and (max-width: 1300px){
    #Home{
        display: flex;
        overflow: hidden;
        flex-direction: column-reverse;
        &__wallpaper{
            display: flex;
            width: 200vw;
            transform: translate(-25%);
        }
        &__titleAndbuttons{
            width: 100vw;
            height: 320px;
            background-color: $backgroundColor;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__title{
            color: $textColor;
            padding: 20px;
            margin: 0;
            font-size: 3em;  
            text-align: center;     
        }
        &__buttons{
            display: flex;
            justify-content: center;
            padding: 0 0 50px;
             &--inscription{
                height: 60px;
                width: 160px;
            }
            &--connexion{
                height: 60px;
                width: 160px;
            }
        }
        &__credits{
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            bottom: 0px;
            padding: 0 50px;
        }
    }
}