@media screen, screen and (max-width: 1024px) and (max-height: 600px){
    #Menu{
        width: 100vw;
        height: 100vh;
        &__imageContainer{
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
        }
        &__options{
            position: relative;
            top: 0;
            left: 100px;
            width: 40vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $textColor;
            background-color: transparent;
            &--title{
                margin: 20px 0 50px;
            }
            &--arrowTurnLeftContainer{
                height: 60px;
                width: 60px;
                margin: 20px;
            }
            &--arrowTurnLeftIcon{
                font-size: 50px;
            }
        }
        & .button{
            height: 60px;
            width: 350px;
            margin: 5px;
        }
    }
}

@media screen and (max-width: 1024px) and (max-height: 600px){
    #Menu__imageContainer{
        transform: translateX(-30%);
    }
    
}
@media screen and (max-width: 1024px) and (min-height: 601px){
    #Menu{
        overflow: scroll;
        display: flex;
        flex-direction: column;
        &__imageContainer{
            position: static;
            width: 100%;
            &--image{
                width: 100%;
                height: 100%;
            }
        }
        &__options{
            position: static;
            margin-top: -30px;  
            width: 100%;
            background-color: $backgroundColor;
            left: 20px;
           & input{
            font-size: 12px;
           }
           &--title{
                margin: 20px 0px;
                font-size: 15px;
           }
           &--arrowTurnLeftContainer{
            height: 50px;
            width: 50px;
            margin: 20px;
            padding: 5px;
           }
           &--arrowTurnLeftIcon{
            font-size: 40px;            
           }
        }
        & .button{
            height: 40px;
            width: 250px;
            margin: 4px;
        }
    }
}
