@media screen and (min-width:1301px){
#Menu{
    width: 100vw;
    height: 100vh;
    display: flex;
    color: $textColor;
    background-color: $backgroundColor;
    &__imageContainer{
        width: 50%;
        overflow: hidden;
        &--image{
            transform: translate(-30%);
        }
    }
    &__options{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $textColor;
        background-color: $backgroundColor;
       &--title{
        margin: 0 0 50px;
       }
       &--arrowTurnLeftContainer{
        height: 80px;
        width: 80px;
        margin: 20px;
       }
       &--arrowTurnLeftIcon{
        font-size: 50px;
       }
    }
}
.button{
    height: 60px;
    width: 350px;
    margin: 13px;
}
}
@media screen and (max-width:1300px){
    #Menu{
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        color: $textColor;
        background-color: $backgroundColor;
        display: flex;
        flex-direction: column;
        &__imageContainer{
            &--image{
                width: 100vw;
            }
        }
        &__options{
            position: static;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $textColor;
            background-color: $backgroundColor;
           &--title{
            margin: 0 0 50px;
           }
           &--arrowTurnLeftContainer{
            height: 80px;
            width: 80px;
            margin: 20px;
           }
           &--arrowTurnLeftIcon{
            font-size: 50px;            
           }
        }
    }
    .button{
        height: 60px;
        width: 350px;
        margin: 13px;
    }
    }
    @media screen and (max-width:1300px) and (min-width: 769px){
        #Menu{
            overflow: hidden;
            &__options{
                position: absolute;
                right: 0px;
                height: 100vh;
            }
            &__imageContainer{
                transform: translateX(-25%);height: 100vh;
                &--image{
                    height: 100vh;
                }
            }
        }  
    }