#Stop{
        &__imageContainerAndText{
            display: flex;
            flex-direction: column;
        }
        &__imageContainer{
            height: 40vh;
        }
        &__image{
            height: 100%;
    }
    &__textContainer{
        height: 50vh;
        margin: 35px;
    }
    &__text{
        text-align: start;
        display: grid;
        grid-template: 20% 20% 20% 20% / 1fr 5fr 12fr;
        align-items: center;
    }
    &__arrowTurnLeftContainer{
        height: 80px;
        width: 80px;
        margin: 20px;
    }
    &__arrowTurnLeftIcon{
            font-size: 50px ;
    }
}

.Stop__text{
    &--initials{
        font-size: 50px;
        color: red;
        margin: 0;
    }
    &--legend{
        font-size: 30px;
        margin: 0;
    }
    &--details{
        font-size: 16px;
        padding: 10px;
        font-style: Arial;
    }
}