#Stop{
        &__imageContainerAndText{
            display: flex;
            flex-direction: column;
        }
        &__imageContainer{
            height: 40vh;
        }
    &__textContainer{
        margin: 35px;
        padding: 0;
        background-color: #85b3ccff;
        border-radius: 20px;
    }
    &__text{
        text-align: start;
        display: grid;height: 100%;
        grid-template: 25% 25% 25% 25% / 1fr 5fr 12fr;
        align-items: center; 
    }
    &__arrowTurnLeftContainer{
        height: 80px;
        width: 80px;
        margin: 20px;
    }
    &__arrowTurnLeftIcon{
            font-size: 50px ;
    }
}

.Stop__text{
    &--initials{
        font-size: 50px;
        color: red;
        margin: 0 10px;
    }
    &--legend{
        font-size: 30px;
        margin: 0;
        color: white;
    }
    &--details{
        font-size: 16px;
        padding: 10px;
        font-style: Arial;
        color: rgb(109, 15, 15);
    }
}