

#thermometer{
    overflow: hidden;
    font-family: "Inknut Antiqua", serif;
    font-style: normal;
    color: $textColor;
    background-color: $backgroundColor;
    &__titleContainer{
        display: flex; 
        justify-content: center;
        align-items: start;
        width: 100vw;
        & i{
            font-size: 70px;
            position: absolute;
            right: 50px;
            top: 20px;
        }
    }
    &__imageContainer{
        display: flex;
        height: 90vh;
        align-items: center;
        justify-content: end;
        &--image{
            display: flex;
            align-items: center;
            & img{
                height: 90vh;
            }
        }
        &--triangle{
            height: 100%;
            display: grid;
            align-items: center;
            grid-template: repeat(5, 15vh) / 5vw; 
            & img{
                height: 8vh;
            }
        }
        &--rectangle{
            width: 50vw;
            height: 70vh;
            margin: 0 30px;
            border-radius: 30px; 
            display: grid;
            grid-template: 100% / 1fr 2fr;
            text-align: center;
            align-items: center;
        }
    }
    &__arrowTurnLeftContainer{
        height: 80px;
        width: 80px;
        margin: 20px;
    }
    &__arrowTurnLeftIcon{
        font-size: 50px ;
    }
    &__text{
        position: absolute;
        bottom: 50%;
        left: 1%;
        font-size: 30px;
        margin: 0 10px;
    }
    &__frameEmotion{ 
            height: 50% !important;grid-column-start: 1;
            margin: auto;
        }
}
.thermometer{
    &__triangle{
        position: relative;
        &--red{
            position: absolute;
            left: 0px;
            opacity: 0;
            &:hover{
                cursor: pointer;
                opacity: 1;
            }
        }
    }
}
@media screen and (min-width: 120px){

}