#TIPP{
    &__title--secondary{
        margin: 100px;
    }
    &__detailsContainer{
        height: 100vh;
        width: auto;
        display: flex;
        flex-direction: column;
    }
    &__temperature{
        background-color: #F4F1D1;
    }
    &__intenseExercise{
        background-color: #FFE3E3;
    }
    &__pacedBreathing{
        background-color: #E1F9D2;
    }
    &__pairedMuscleRelaxation{
        background-color: #DEF1FF;
    }
    &__arrowTurnLeftContainer{
        height: 80px;
        width: 80px;
        margin: 20px;
    }
    &__arrowTurnLeftIcon{
        font-size: 50px ;
}
}
.rectangleTipp{
    overflow: visible;
    height: 20%;
    display: grid;
    padding: 10px;
    margin: 10px 60px;
    border-radius: 20px;
    color: $textColorTipp;
    grid-template: 100% / 30% 70%;
    & span{
        color: $capitalLetterColorTipp;
    }
}
.TIPP__imageContainer{
    height: 100%;
    display: flex;
    justify-content: center;
}
.TIPP__image{
    height: 100%;
}
.TIPP__paragraph{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    font-family: arial;
    padding: 0 30px 0 0;
    & h2,p{
        margin: 0;
    }
}