.rectangleTipp{
    height: 20%;
    display: grid;
    grid-template: 100% / 30% 70%;
    padding: 10px;
    margin: 10px 60px;
    border-radius: 20px;
    color: $textColorTipp;
    & span{
        color: $capitalLetterColorTipp;
    }
}
.TIPP__imageContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TIPP__image{
    width: 100%;
}
.TIPP__paragraph{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    font-family: arial;
    padding: 0;
    & h2,p{
        margin: 0;
    }
}
#TIPP{
    &__title--secondary{
        margin: 100px;
    }
    &__detailsContainer{
        height: 100vh;
        width: auto;
        display: flex;
        flex-direction: column;
    }
    &__temperature{
        background-color: #F4F1D1;
    }
    &__intenseExercise{
        background-color: #FFE3E3;
        &--image{
            height:100%;
            width: auto;
        }
    }
    &__pacedBreathing{
        background-color: #E1F9D2;
    }
    &__pairedMuscleRelaxation{
        background-color: #DEF1FF;
    }
    &__arrowTurnLeftContainer{
        height: 80px;
        width: 80px;
        margin: 20px;
    }
    &__arrowTurnLeftIcon{
        font-size: 50px ;
    }
}

@media screen and (max-width: 1300px){
    #TIPP{ 
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        color: $textColor;
        background-color: $backgroundColor;
        display: grid;
        grid-template: 2fr 4fr 15% / 100%;
        text-align: center;
        align-items: center;
        justify-items: center;
    }
    .TIPP__image{
        height: 100%;
        width: auto;
}
}
@media screen and (max-width: 900px){
    .rectangleTipp{
        grid-template: 100% / 100%;
        height: 21%;
    }
    .TIPP__imageContainer{
        display: none;
}
}
@media screen and (max-width: 500px){
    .rectangleTipp{
        height:50%;
    }
    #TIPP{
         &__title--secondary{
        margin: 50px 20px 150px;
        }
        display: flex;
        flex-direction: column;
        &__arrowTurnLeftContainer{
            margin: 200px 0;   
            width: 100px;
            padding: 25px 0; 
        }
        &__arrowTurnLeftIcon{
            font-size: 50px ;
        }
    }
}
@media screen and (max-width: 410px){
    #TIPP{
         &__title--secondary{
        margin: 50px 20px 250px;
        }
        &__arrowTurnLeftContainer{
            margin: 250px 0;
        }

    }
}