
#Webresources{
    &__arrowTurnLeftContainer{
        height: 80px;
        width: 80px;
        margin: 20px;
    }
    &__arrowTurnLeftIcon{
        font-size: 50px ;
    }
}
.Webresources__button{
    background-color: #B2CBE3;
    font-size: 16px;
    color: black;
    border: 1px solid white;
    margin: 10px;
    padding: 0 15px;
    border-radius: 20px;
    & a{
        color: black;
    }
    & a:hover{
        color: red;
        cursor: pointer;
    }
    &:hover{
        border: red solid 1px;
    }
}
@media screen and (max-width: 1300px) and (min-width: 799px){
    .page{
        display: grid;
        grid-template: 100vh / 40% 40% 8%;
            }
}
@media screen and (max-width:798px){
    .page{
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        color: $textColor;
        background-color: $backgroundColor;
        display: grid;
        grid-template: 20% 1fr 5%;
        text-align: center;
        align-items: center;
        justify-items: center;
    }
}