#EmotionsWheel{
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        &--instructions{
            text-align: start;
            font-size: 20px;
        }
    }
    &__imageContainer{
        height: 100%;
        width: auto;
    }
    &__image{
        &--trianglesAndWheel{
            height: 100%;
        }
        &--wheel{
            height: 100%;
            width: auto;
            z-index: 0;
        }
        &--triangleLeft{
            position: relative;
            left: -1%;
            bottom: 50%;
            z-index: 3;
            transform: rotate(180deg);
            &:hover{
                cursor: pointer;
            }
        }
        &--triangleRight{
            position: relative;
            bottom: 50%;
            left: 1%;
            z-index: 3;
            &:hover{
                cursor: pointer;
            }
        }
        &--rightArrowContainer{
           z-index: 2;
           position: relative;
           top: 6%;
        }
        &--rightArrow{
            transform: rotate(40deg);
            position: relative;
        }
        &--rightArrowHover{
            position: absolute;
            right: 0;
            transform: rotate(40deg);
            opacity:0;
            &:hover{
                opacity: 1;
                cursor: pointer;
            }
        }
        &--leftArrowContainer{
            position: relative;
            bottom: 5%;
        }
        &--leftArrow{
            transform: rotate(140deg);
        }
        &--leftArrowHover{
            position: absolute;
            right: 0;
            transform: rotate(140deg);
            opacity: 0;
            &:hover{
                cursor: pointer;
                opacity: 1;
            }
        }
    }
    &__arrowTurnLeftContainer{
        height: 80px;
        width: 80px;
        margin: 20px;
        z-index: 3;
    }
    &__arrowTurnLeftIcon{
            font-size: 50px;
    }
}

@media screen and (max-width: 1700px){
    #EmotionsWheel{
        & li{
            font-size: 15px;
        }
        &__image--trianglesAndWheel{
            height: 60%;
        }
    }
}
@media screen and (max-width: 1300px){
    #EmotionsWheel{
        display: flex;
        flex-direction: column;
        overflow: scroll;
        & li{
            font-size: 18px;
        }
        &__arrowTurnLeftContainer{
            padding: 20px 5px;
        }
    }
}
@media screen and (max-width: 700px){
    #EmotionsWheel{
        &__title{
            & li{
                font-size: 14px;
            }
            & p{
                font-size: 12px;
            }
        }
        &__image{
            &Container{
                margin: -100px 0;
            }
            &--trianglesAndWheel{
                height: 55%;
            }
        }
    }
}
@media screen and (max-width: 550px){
    #EmotionsWheel{
        &__title{
            &--primary{
                font-size: 40px;
            }
            & li{
                font-size: 12px;
            }
        }
        &__image{
            &Container{
                margin: -200px 0
            }
            &--trianglesAndWheel{
                height: 36%;
            }
            &--leftArrow{
                transform: rotate(140deg) scale(0.7);
            }
            &--leftArrowHover{
                transform: rotate(140deg) scale(0.7);
            }
            &--rightArrow{
                transform: rotate(40deg) scale(0.7);
            }
            &--rightArrowHover{
                transform: rotate(40deg) scale(0.7);
            }
        }
    }
}
@media screen and (max-width: 400px){
    #EmotionsWheel{
        &__image{
            &--trianglesAndWheel{
                height: 30%;
            }
        }
    }
}