#EmotionsWheel{
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--instructions{
            text-align: start;
            font-size: 20px;
        }
    }
    &__imageContainer{
        height: 100vh;
    }
    &__image{
        &--wheelAndTriangle{
            height: 100vh;
        }
        &--wheel{
            height: 100%;
            z-index: 1;
            position: relative;
            bottom: 50%;
        }
        &--triangle{
            position: relative;
            bottom: 50%;
        }
        &--rightArrowContainer{
           position: relative;
           top: 50px;  
           z-index: 1;
        }
        &--rightArrow{
            transform: rotate(40deg);
           
        }
        &--rightArrowHover{
            position: absolute;
            right: 0;
            transform: rotate(40deg);
            opacity:0;
            &:hover{
                opacity: 1;
                cursor: pointer;
            }
        }
        &--leftArrowContainer{
            position: relative;
            top: 340px;
            z-index: 1;
        }
        &--leftArrow{
            transform: rotate(140deg);
        }
        &--leftArrowHover{
            position: absolute;
            right: 0;
            transform: rotate(140deg);
            opacity: 0;
            &:hover{
                cursor: pointer;
                opacity: 1;
            }
        }
    }
    &__arrowTurnLeftContainer{
        height: 80px;
        width: 80px;
        margin: 20px;
    }
    &__arrowTurnLeftIcon{
            font-size: 50px ;
    }
}
