#EmotionsWheel{
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--instructions{
            text-align: start;
            font-size: 20px;
        }
    }
    &__imageContainer{
        height: 100vh;
        width: auto;
        

    }
    &__image{
        &--trianglesAndWheel{
            height: 100vh;
        }
        &--wheel{
            height: 100%;
            width: auto;
            z-index: 1;//transform: rotate(160deg);
        }
        &--triangleLeft{
            position: relative;
            left: -1%;
            bottom: 50%;
            z-index: 3;
            transform: rotate(180deg);
            &:hover{
                cursor: pointer;
            }
        }
        &--triangleRight{
            position: relative;
            bottom: 50%;
            left: 1%;
            z-index: 3;
            &:hover{
                cursor: pointer;
            }
        }
        &--rightArrowContainer{
           z-index: 2;
           position: relative;
           top: 6%;
        }
        &--rightArrow{
            transform: rotate(40deg);
            position: relative;
        }
        &--rightArrowHover{
            position: absolute;
            right: 0;
            transform: rotate(40deg);
            opacity:0;
            &:hover{
                opacity: 1;
                cursor: pointer;
            }
        }
        &--leftArrowContainer{
            position: relative;
            z-index: 2;
            bottom: 5%;
        }
        &--leftArrow{
            transform: rotate(140deg);
        }
        &--leftArrowHover{
            position: absolute;
            right: 0;
            transform: rotate(140deg);
            opacity: 0;
            &:hover{
                cursor: pointer;
                opacity: 1;
            }
        }
    }
    &__arrowTurnLeftContainer{
        height: 80px;
        width: 80px;
        margin: 20px;
    }
    &__arrowTurnLeftIcon{
            font-size: 50px ;
    }
}
