@font-face {
    font-family: 'inknut_antiquabold';
    src: url('InknutAntiqua-Bold-webfont.eot');
    src: url('InknutAntiqua-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('InknutAntiqua-Bold-webfont.woff2') format('woff2'),
         url('InknutAntiqua-Bold-webfont.woff') format('woff'),
         url('InknutAntiqua-Bold-webfont.ttf') format('truetype'),
         url('InknutAntiqua-Bold-webfont.svg#inknut_antiquabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

