.button {
  font-size: 20px;
  font-family: inknut_antiqua-bold;
  font-weight: bold;
  background-color: #FFFFFF;
  border-radius: 50px;
  margin: 0 15px;
  color: #000000;
  box-shadow: inset -5px 5px 10px grey;
}
.button:hover {
  color: #fd0505;
  font-size: 22px;
  cursor: pointer;
}

.returnIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #FFFFFF;
}

.returnIcon {
  color: #000000;
  background-color: #FFFFFF;
}
.returnIcon:hover {
  color: #fd0505;
  cursor: pointer;
}

#Home__credits {
  font-size: 20px;
  color: #FFFFFF;
}
#Home__credits:hover {
  color: rgb(123, 123, 237);
  cursor: pointer;
}

#Credits {
  display: flex;
  color: black;
  z-index: 2;
  background-color: #D1EBFC;
  width: 40%;
  justify-content: center;
  flex-direction: row-reverse;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 20px;
}
#Credits__close {
  font-size: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
}
#Credits__close:hover {
  color: #fd0505;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  #Credits {
    width: 80%;
    height: 80%;
  }
}
body {
  overflow: hidden;
  font-family: "Inknut Antiqua", serif;
  font-style: normal;
}

@media screen and (min-width: 769px) {
  .page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 100%/40% 1fr 8%;
    padding: 0px;
    color: #FFFFFF;
    background-color: #3E3F3A;
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .page {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    color: #FFFFFF;
    background-color: #3E3F3A;
    display: grid;
    grid-template: 20% 1fr 5%/100%;
    text-align: center;
    align-items: center;
    justify-items: center;
  }
}
.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 769px) {
  #Home {
    background-color: #3E3F3A;
  }
  #Home__imageContainer {
    width: 100vw;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 0;
  }
  #Home__titleAndbuttons {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #Home__title {
    color: #FFFFFF;
    padding: 120px 0 0 80px;
    margin: 0;
    font-size: 4em;
    z-index: 1;
  }
  #Home__titleAndButtons {
    display: flex;
    align-items: end;
  }
  #Home__explanations {
    color: #FFFFFF;
    padding: 0 80px;
    z-index: 1;
  }
  #Home__buttonContainer {
    display: flex;
    justify-content: center;
    padding: 0 0 50px;
  }
  #Home__buttonContainer--button {
    height: 60px;
    width: 160px;
    z-index: 1;
  }
  #Home__credits {
    position: absolute;
    bottom: 0px;
    padding: 0 50px;
  }
}
@media screen and (max-width: 1450px) {
  #Home__title {
    font-size: 3em;
  }
}
@media screen and (max-width: 1300px) {
  #Home__imageContainer--image {
    transform: translateX(-25%);
  }
}
@media screen and (max-width: 768px) {
  #Home {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #3E3F3A;
  }
  #Home__imageContainer--image {
    width: 100vw;
    transform: translateX(0);
  }
  #Home__titleAndbuttons {
    width: 100vw;
    height: 320px;
    background-color: #3E3F3A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #Home__title {
    color: #FFFFFF;
    padding: 20px;
    margin: 0;
    font-size: 3em;
    text-align: center;
  }
  #Home__explanations {
    color: #FFFFFF;
    text-align: center;
  }
  #Home__buttonContainer {
    display: flex;
    justify-content: center;
    padding: 0 0 50px;
  }
  #Home__buttonContainer--button {
    height: 60px;
    width: 160px;
  }
  #Home__credits {
    position: absolute;
    left: 5px;
    top: 0px;
    padding: 0 50px;
  }
}
@media screen and (max-width: 600px) {
  #Home__title {
    font-size: 2em;
  }
}
@media screen and (min-width: 1301px) {
  #Menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: #FFFFFF;
    background-color: #3E3F3A;
  }
  #Menu__imageContainer {
    width: 50%;
    overflow: hidden;
  }
  #Menu__imageContainer--image {
    transform: translate(-30%);
  }
  #Menu__options {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #3E3F3A;
  }
  #Menu__options--title {
    margin: 0 0 50px;
  }
  #Menu__options--arrowTurnLeftContainer {
    height: 80px;
    width: 80px;
    margin: 20px;
  }
  #Menu__options--arrowTurnLeftIcon {
    font-size: 50px;
  }
  .button {
    height: 60px;
    width: 350px;
    margin: 13px;
  }
}
@media screen and (max-width: 1300px) {
  #Menu {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    color: #FFFFFF;
    background-color: #3E3F3A;
    display: flex;
    flex-direction: column;
  }
  #Menu__imageContainer--image {
    width: 100vw;
  }
  #Menu__options {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #3E3F3A;
  }
  #Menu__options--title {
    margin: 0 0 50px;
  }
  #Menu__options--arrowTurnLeftContainer {
    height: 80px;
    width: 80px;
    margin: 20px;
  }
  #Menu__options--arrowTurnLeftIcon {
    font-size: 50px;
  }
  .button {
    height: 60px;
    width: 350px;
    margin: 13px;
  }
}
@media screen and (max-width: 1300px) and (min-width: 769px) {
  #Menu {
    overflow: hidden;
  }
  #Menu__options {
    position: absolute;
    right: 0px;
    height: 100vh;
  }
  #Menu__imageContainer {
    transform: translateX(-25%);
    height: 100vh;
  }
  #Menu__imageContainer--image {
    height: 100vh;
  }
}
@media screen and (min-width: 1301px) {
  #Anchor__image {
    height: 100vh;
  }
  #Anchor__title {
    padding: 50px;
  }
  #Anchor__arrowTurnLeftContainer {
    height: 80px;
    width: 80px;
    margin: 20px;
  }
  #Anchor__arrowTurnLeftIcon {
    font-size: 50px;
  }
  .button {
    height: 60px;
    width: 350px;
    margin: 13px;
  }
}
@media screen and (max-width: 1300px) {
  #Anchor {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    color: #FFFFFF;
    background-color: #3E3F3A;
    display: grid;
    grid-template: 2fr 4fr 1fr/100%;
    text-align: center;
    align-items: center;
    justify-items: center;
  }
  #Anchor__image {
    width: 100vw;
  }
  #Anchor__title {
    padding: 50px;
  }
  #Anchor__arrowTurnLeftContainer {
    width: 80px;
    height: 80px;
    margin: 20px;
  }
  #Anchor__arrowTurnLeftIcon {
    font-size: 50px;
  }
  .button {
    height: 60px;
    width: 350px;
    margin: 13px;
  }
}
#Stop__title p {
  padding: 30px;
}
#Stop__imageContainerAndText {
  display: flex;
  flex-direction: column;
}
#Stop__imageContainer {
  height: 40vh;
}
#Stop__textContainer {
  margin: 35px;
  padding: 0;
  background-color: rgb(147, 196, 222);
  border-radius: 20px;
}
#Stop__text {
  text-align: start;
  display: grid;
  grid-template: 25% 25% 25% 25%/1fr 5fr 12fr;
  align-items: center;
}
#Stop__arrowTurnLeftContainer {
  height: 80px;
  width: 80px;
  margin: 20px;
}
#Stop__arrowTurnLeftIcon {
  font-size: 50px;
}

.Stop__text--initials {
  font-size: 50px;
  color: red;
  margin: 0 10px;
}
.Stop__text--legend {
  font-size: 30px;
  margin: 0;
  color: white;
}
.Stop__text--details {
  font-size: 16px;
  padding: 10px;
  font-style: Arial;
  color: rgb(109, 15, 15);
}

@media screen and (max-width: 1250px) {
  #Stop {
    overflow: scroll;
    display: grid;
    grid-template: 75% 1fr 5%/100%;
    text-align: center;
  }
  #Stop__arrowTurnLeftContainer {
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  #Stop {
    overflow: scroll;
    display: grid;
    grid-template: 75% 1fr 5%/100%;
  }
  #Stop__arrowTurnLeftContainer {
    margin: auto;
  }
  .Stop__text--initials {
    font-size: 30px;
  }
  .Stop__text--legend {
    font-size: 16px;
  }
  .Stop__text--details {
    font-size: 11px;
  }
}
@media screen and (max-width: 430px) {
  #Stop {
    grid-template: 80% 1fr 5%/100%;
  }
  #Stop__title--primary {
    font-size: 2rem;
  }
}
#EmotionsWheel__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#EmotionsWheel__title--instructions {
  text-align: start;
  font-size: 20px;
}
#EmotionsWheel__imageContainer {
  height: 100%;
  width: auto;
}
#EmotionsWheel__image--trianglesAndWheel {
  height: 100%;
}
#EmotionsWheel__image--wheel {
  height: 100%;
  width: auto;
  z-index: 1;
}
#EmotionsWheel__image--triangleLeft {
  position: relative;
  left: -1%;
  bottom: 50%;
  z-index: 3;
  transform: rotate(180deg);
}
#EmotionsWheel__image--triangleLeft:hover {
  cursor: pointer;
}
#EmotionsWheel__image--triangleRight {
  position: relative;
  bottom: 50%;
  left: 1%;
  z-index: 3;
}
#EmotionsWheel__image--triangleRight:hover {
  cursor: pointer;
}
#EmotionsWheel__image--rightArrowContainer {
  z-index: 2;
  position: relative;
  top: 6%;
}
#EmotionsWheel__image--rightArrow {
  transform: rotate(40deg);
  position: relative;
}
#EmotionsWheel__image--rightArrowHover {
  position: absolute;
  right: 0;
  transform: rotate(40deg);
  opacity: 0;
}
#EmotionsWheel__image--rightArrowHover:hover {
  opacity: 1;
  cursor: pointer;
}
#EmotionsWheel__image--leftArrowContainer {
  position: relative;
  z-index: 2;
  bottom: 5%;
}
#EmotionsWheel__image--leftArrow {
  transform: rotate(140deg);
}
#EmotionsWheel__image--leftArrowHover {
  position: absolute;
  right: 0;
  transform: rotate(140deg);
  opacity: 0;
}
#EmotionsWheel__image--leftArrowHover:hover {
  cursor: pointer;
  opacity: 1;
}
#EmotionsWheel__arrowTurnLeftContainer {
  height: 80px;
  width: 80px;
  margin: 20px;
}
#EmotionsWheel__arrowTurnLeftIcon {
  font-size: 50px;
}

.rectangleTipp {
  height: 20%;
  display: grid;
  grid-template: 100%/30% 70%;
  padding: 10px;
  margin: 10px 60px;
  border-radius: 20px;
  color: #000000;
}
.rectangleTipp span {
  color: red;
}

.TIPP__imageContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TIPP__image {
  width: 100%;
}

.TIPP__paragraph {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  font-family: arial;
  padding: 0;
}
.TIPP__paragraph h2, .TIPP__paragraph p {
  margin: 0;
}

#TIPP__title--secondary {
  margin: 100px;
}
#TIPP__detailsContainer {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
}
#TIPP__temperature {
  background-color: #F4F1D1;
}
#TIPP__intenseExercise {
  background-color: #FFE3E3;
}
#TIPP__intenseExercise--image {
  height: 100%;
  width: auto;
}
#TIPP__pacedBreathing {
  background-color: #E1F9D2;
}
#TIPP__pairedMuscleRelaxation {
  background-color: #DEF1FF;
}
#TIPP__arrowTurnLeftContainer {
  height: 80px;
  width: 80px;
  margin: 20px;
}
#TIPP__arrowTurnLeftIcon {
  font-size: 50px;
}

@media screen and (max-width: 1300px) {
  #TIPP {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    color: #FFFFFF;
    background-color: #3E3F3A;
    display: grid;
    grid-template: 2fr 4fr 15%/100%;
    text-align: center;
    align-items: center;
    justify-items: center;
  }
  .TIPP__image {
    height: 100%;
    width: auto;
  }
}
@media screen and (max-width: 900px) {
  .rectangleTipp {
    grid-template: 100%/100%;
    height: 21%;
  }
  .TIPP__imageContainer {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .rectangleTipp {
    height: 50%;
  }
  #TIPP {
    display: flex;
    flex-direction: column;
  }
  #TIPP__title--secondary {
    margin: 50px 20px 150px;
  }
  #TIPP__arrowTurnLeftContainer {
    margin: 200px 0;
  }
  #TIPP__arrowTurnLeftIcon {
    font-size: 30px;
  }
}
@media screen and (max-width: 410px) {
  #TIPP {
    display: flex;
    flex-direction: column;
  }
  #TIPP__title--secondary {
    margin: 50px 20px 300px;
  }
  #TIPP__detailsContainer {
    height: 100vh;
  }
  #TIPP__arrowTurnLeftContainer {
    margin: 300px 0;
  }
  #TIPP__arrowTurnLeftIcon {
    font-size: 30px;
  }
}
#Webresources__arrowTurnLeftContainer {
  height: 80px;
  width: 80px;
  margin: 20px;
}
#Webresources__arrowTurnLeftIcon {
  font-size: 50px;
}

.Webresources__button {
  background-color: #B2CBE3;
  font-size: 16px;
  color: black;
  border: 1px solid white;
  margin: 10px;
  padding: 0 15px;
  border-radius: 20px;
}
.Webresources__button a {
  color: black;
}
.Webresources__button a:hover {
  color: red;
  cursor: pointer;
}
.Webresources__button:hover {
  border: red solid 1px;
}

@media screen and (max-width: 1300px) and (min-width: 799px) {
  #Webresources {
    display: grid;
    grid-template: 100vh/40% 40% 8%;
  }
}
@media screen and (max-width: 798px) {
  #Webresources {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    color: #FFFFFF;
    background-color: #3E3F3A;
    display: grid;
    grid-template: 20% 1fr 5%;
    text-align: center;
    align-items: center;
    justify-items: center;
  }
}
#thermometer {
  overflow: hidden;
  font-family: "Inknut Antiqua", serif;
  font-style: normal;
  color: #FFFFFF;
  background-color: #3E3F3A;
  width: 100vw;
  height: 100vh;
}
#thermometer__titleContainer {
  width: 100vw;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
}
#thermometer__titleContainer i {
  font-size: 50px;
}
#thermometer__titleContainer i:hover {
  color: #fd0505;
  cursor: pointer;
}
#thermometer__titleContainer--bubble {
  display: flex;
  font-family: Arial;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 200px;
  height: 50px;
  color: white;
  background-color: black;
  border-radius: 20px;
  margin-right: 10px;
}
#thermometer__titleContainer--bubble:hover {
  font-size: 13px;
  cursor: pointer;
}
#thermometer__titleContainer > div {
  margin: 0 50px 0 200px;
  display: flex;
}
#thermometer__imageContainer {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}
#thermometer__imageContainer--image {
  display: flex;
  align-items: center;
}
#thermometer__imageContainer--image img {
  height: 90vh;
}
#thermometer__imageContainer--triangle {
  display: grid;
  align-items: center;
  grid-template: repeat(5, 15vh)/5vw;
}
#thermometer__imageContainer--triangle img {
  height: 8vh;
}
#thermometer__imageContainer--rectangle {
  width: 40vw;
  margin: 0 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#thermometer__arrowTurnLeftContainer {
  height: 80px;
  width: 80px;
  margin: 20px;
}
#thermometer__arrowTurnLeftIcon {
  font-size: 50px;
}
#thermometer__frameEmotion {
  height: 50% !important;
  margin: auto;
}

.thermometer__triangle {
  position: relative;
  display: flex;
  align-items: center;
}
.thermometer__triangle--red {
  position: absolute;
  left: 0px;
  opacity: 0;
}
.thermometer__triangle--red:hover {
  cursor: pointer;
  opacity: 1;
}

#emotionContainer__selected--title {
  margin-top: -50px;
}
#emotionContainer__selected {
  display: grid;
  grid-template: 100%/1.5fr 2fr;
  text-align: center;
  align-items: center;
  margin: 10px 0;
}
#emotionContainer__notSelected {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#emotionContainer__notSelected--icons img {
  width: 20%;
  height: 20%;
}

#containerListOfActions {
  display: grid;
  grid-template: 100%/150px 65%;
  border: 1px solid #000000;
}
#containerListOfActions__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#listOfActions__img {
  height: 100px !important;
  width: 148px;
  margin: auto;
}

@media screen and (max-width: 1550px) {
  #emotionContainer__selected {
    display: flex;
    flex-direction: column;
  }
  #emotionContainer__selected--title {
    font-size: 20px;
  }
  #thermometer__frameEmotion {
    width: 200px;
    margin-top: -50px;
  }
}
@media screen and (max-width: 1400px) {
  #thermometer__titleContainer {
    flex-direction: column;
  }
  #thermometer__titleContainer > div {
    margin: 0;
  }
}
@media screen and (max-width: 1000px) {
  #thermometer {
    overflow: scroll;
  }
  #thermometer__titleContainer--primary {
    font-size: 30px;
  }
  #thermometer__imageContainer {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  #thermometer__imageContainer--image {
    margin-top: 30px;
  }
  #thermometer__imageContainer--image > img {
    height: 70vh;
  }
  #thermometer__imageContainer--triangle {
    grid-template: repeat(5, 11vh)/5vw;
  }
  #thermometer__imageContainer--triangle img {
    height: 4vh;
  }
  #thermometer__frameEmotion {
    margin-top: -50px;
  }
  #emotionContainer__notSelected--selectEmotions {
    font-size: 14px;
  }
  #listOfActions__img {
    height: 80px !important;
    width: 118px;
  }
  #containerListOfActions__text {
    font-size: 10px;
  }
}
@media screen and (max-width: 900px) {
  #thermometer__imageContainer--image > img {
    height: 50vh;
  }
  #thermometer__imageContainer--triangle {
    grid-template: repeat(5, 8vh)/5vw;
  }
  #thermometer__imageContainer--triangle img {
    height: 4.55vh;
  }
  #containerListOfActions {
    grid-template: 100%/30% 70%;
  }
  #listOfActions__img {
    height: 40px !important;
    width: 59px;
  }
}
#configure {
  background-color: #3E3F3A;
  height: 100vh;
  width: 100vw;
  color: #FFFFFF;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.configure__container {
  margin: 5px;
  height: 800px;
  width: 80%;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: grid;
  grid-template: 100%/3fr 6fr 1fr;
  border: 15px solid;
}
.configure__container i {
  display: flex;
  margin: auto;
  font-size: 50px;
}
.configure__container i:hover {
  cursor: pointer;
  font-size: 52px;
}
.configure__imgContainer {
  margin: auto;
}
.configure__imgContainer--text {
  text-align: center;
  margin-top: -50px;
}
.configure__imgContainer p {
  color: #000000;
  font-weight: bold;
  text-align: center;
}
.configure__btn--reset {
  background: #b2ebf2;
  position: fixed;
  bottom: 40%;
  left: 90%;
  color: #000000;
  font-size: 16px;
  margin: 10px;
  border: solid 2px black;
}
.configure__btn--reset:hover {
  border: solid 2px white;
  color: red;
}
.configure__btn--cancel {
  background-color: #babcbc;
  position: fixed;
  bottom: 30%;
  left: 90%;
  transform: translateX(25%);
  color: #000000;
  font-size: 16px;
  margin: 10px;
  border: solid 2px black;
}
.configure__btn--cancel:hover {
  border: solid 2px white;
  color: red;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  background: #fff;
  border: 1px solid #000000;
  margin: auto;
}
input[type=checkbox]:hover {
  cursor: pointer;
}

input[type=checkbox]:checked {
  background: pink;
  margin: auto;
  position: relative;
}
input[type=checkbox]:checked:before {
  font-family: FontAwesome;
  content: "\f00c";
  display: block;
  color: green;
  font-size: 16px;
  position: absolute;
  top: 25%;
  left: 25%;
}

@media screen and (max-width: 1650px) {
  .configure__container {
    height: 10000px !important;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .configure__btn--reset {
    left: 80%;
  }
  .configure__btn--cancel {
    left: 80%;
  }
  .containerListOfActionsParams {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
