body{
    overflow: hidden;
    font-family: "Inknut Antiqua", serif;
    font-style: normal;
}
@media screen and (min-width:769px){
    .page{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template: 100% / 40% 1fr 8%;
        padding: 0px;
        color: $textColor;
        background-color: $backgroundColor;
        text-align: center;
        align-items: center;
    }
}
@media screen and (max-width:768px){
    .page{
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        color: $textColor;
        background-color: $backgroundColor;
        display: grid;
        grid-template: 20% 1fr 5%;
        text-align: center;
        align-items: center;
        justify-items: center;
    }
}
.imageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}